.footer{
  position: relative;
  z-index: 7;
  background-color: $white;
  &-content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    &_column{
      width:33%;
      @media (max-width: 767px){
        width: 100%;
        display: flex;
        justify-content: center;
      }
      &:nth-child(3){
        display: flex;
        justify-content: flex-end;
        @media (max-width: 767px){
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
    @media (max-width: 767px){
      flex-direction: column;
      &_column:nth-child(2){
        order: 2;
      }
      &_column:nth-child(3){
        margin: 20px 0;
      }
    }
  }
  &-nav{
    text-align: center;
    list-style-type: none;
    .item{
      padding: 5px 0;
      a{
        text-decoration: none;
        span{
          font-family: $lato;
          font-style: normal;
          font-weight: bold;
          font-size: $text;
          color: #000000;
        }
      }
    }
  }
  &-social{
    &-title{
      font-family: $lato;
      font-style: normal;
      font-weight: bold;
      font-size: $text;
      text-align: center;
      margin-bottom: 2rem;
    }
    &-img{
      display: inline-flex;
      justify-content: center;
      width: 100%;
      svg{
        width: 25px;
        height: 25px;
        cursor: pointer;
        &:nth-child(2){
          margin: 0 10px;
        }
      }
    }
  }
}