header{
  height: 80px;
  padding: 10px 0;
  position: fixed;
  background-color: $white;
  width: 100%;
  z-index: 10;
  .container{
    display: flex;
    align-items: center;
  }
  .navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-nav{
      align-items: center;
      display: flex;
      list-style-type: none;
      @media (max-width: 991px){
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: $white;
        top: 0;
        left: -100%;
        transition: left 0.3s ease;
        z-index: 9;
      }
      .item{
        font-family: $lato;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        margin-left: 40px;
        @media (max-width: 991px){
          margin: 0;
          padding: 20px 0;
        }
        &:first-child{
          margin-left: 0;
        }
        a{
          text-decoration: none;
          color: #000000;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            display: inline-block;
            height: 1em;
            width: 100%;
            border-bottom: 1px solid;
            margin-top: 10px;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0,1);
            transform: scale(0,1);
          }
          &:hover:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }
    &-logo{
      position: relative;
      z-index: 10;
    }
  }
}
#megamenu-mobil {
  position: absolute;
  left: -100%;
}
label{
  display: none;
  @media (max-width: 991px){
    display: block;
    width: 27px;
    height: 25px;
    z-index: 10;
    cursor: pointer;
    position: relative;
    z-index: 10;
    padding: 5px 0;
    span {
      border-radius: 2px;
      position: absolute;
      display: block;
      height: 5px;
      width: 100%;
      background-color: #000;
      transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
      &.one {
        top: 0;
      }
      &.two {
        top: 10px;
      }
      &.three {
        top: calc(100% - 5px);
      }
    }
  }
}
input:checked {
  ~ label {
    .one {
      transform: translateY(10px) rotate(45deg);
    }

    .two {
      opacity: 0;
    }

    .three {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
  ~ .navbar-nav{
    left: 0;
  }
}
