#intro{
    width: 100%;
    height: 100vh;
    background-image: url('../../img/background_intro.png');
    background-attachment: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -100;
    @media screen and (max-width:767px){
        background-position: -363px;
    }
    video#bgvid {
        position: fixed; right: 0; top: 0;
        width: 100%;
        z-index: -100;
        background-size: cover;
        @media screen and (max-width: 767px){
            height: 100vh;
            width: auto;
        }
    }
    .container{
        @media screen and (max-width:767px){
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: fixed;
        }
        h1{
            @media screen and (min-width:767px){
                position: absolute;
                top: 13rem;
                left: 10rem;
                text-align: left;
                width: fit-content;
            }
            @media screen and (min-width:1250px){
                top: 13rem;
                left: 2rem;
            }
            color: $white;
            font-size: 6rem;
            width: 100%;
            margin: 0;
            @media screen and (max-width:767px){
                font-size: 3.5rem;
                width: 100%;
                position: relative;
                text-align: center;
            }
           
        }
        a{          
            @media screen and (min-width:767px){
                position: absolute;
                top: 30rem;
                left: 10rem;
            }
            @media screen and (min-width:1250px){
                top: 30rem;
                left: 2rem;
            }
            text-align: center;
            @include cta();
            @media screen and (max-width:767px){
                position: relative;
            }
            
        }
    }
}

#trips{
    position: relative;
    z-index: 7;
    background-color: $white;
    min-height: 500px;
    padding: 3rem 0;
    .container{
        .titre__composant{
            @include titres("voyages");
        }

        .trips__list{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 4rem;
            padding-bottom: 2rem;
            @media screen and (max-width: 767px){
                display: flex;
                overflow-x: scroll;
                padding: 1rem 0;
                scroll-snap-type: x mandatory;
                width: 90vw;
                margin: 0 auto;
                flex-wrap: nowrap;
            }
            .trip{
                width: 30%;
                min-height: 300px;
                overflow: hidden;
                box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.15);
                @media screen and (max-width:767px){
                    width: 100vw;
                    flex: 1 0 100%;
                    margin-left: 1rem;
                    scroll-snap-align: start;
                    max-width: 100vw;
                    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.05);
                }
                &__illustration{
                    position: relative;
                    height: fit-content;
                    img{
                        width: 100%;
                    }
                    p{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        background-color: $orange;
                        padding: 1rem 2.2rem;
                        transform: translateY(47%);
                        color: $white;
                        transition: all 0.4s ease;
                        width: 40%;
                        text-align: center;
                        @media screen and (max-width: 767px){
                            width: 100%;
                        }
                        @media screen and (min-width: 767px){
                            &:hover{
                                width: 100%;
                                transition: all 0.4s ease;
                            }
                        }
                    }
                }
                &__description{
                    padding: 3rem 2rem;
                }
            }
        }

    }
}

#agence{
    position: relative;
    z-index: 7;
    background-image: url("../../img/backgroud_agence.png");
    background-repeat: no-repeat;
    background-color: $white;
    background-size: 100% 300px;
    padding-top: 5rem;
    .titre__composant{
        @include titres("agence");
        .main-title {
            color: $white;
        }
    }
    .agence-content{
        display: flex;
        justify-content: space-around;
        @media (max-width:767px){
            flex-direction: column;
        }
        &_column{
            width: 40%;
            @media (max-width:991px){
                width:45%;
            }
            @media (max-width:767px){
                width: 100%;
                &:last-child{
                    margin-top: 3rem;
                }
            }
            &:nth-child(1){
                background-color: #FFFFFF;
                box-shadow: 0px 0px 7px 3px rgb(0 0 0 / 15%);
                padding: 30px 15px;
            }
            text{
                font-size: $text;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

#ratings{
    position: relative;
    z-index: 7;
    background-color: $lightgrey;
    padding: 5rem 0;
    .titre__composant{
        @include titres("clients");
    }
    .ratings {
        &-flex {
            align-items: stretch;
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            @media screen and (max-width: 767px){
                overflow-x: scroll;
                padding: 6rem 0 1rem ;
                scroll-snap-type: x mandatory;
                width: 100%;
                margin: 0 auto;
            }
            &-column {
                width: 32%;
                background: rgba(255, 102, 62, 0.5);
                padding: 15px;
                @media screen and (max-width: 767px){
                    width: 100%;
                    flex: 1 0 89vw;
                    margin-left: 1rem;
                    scroll-snap-align: start;
                    max-width: 100vw;
                    margin-bottom: 1rem;
                }
                &.white{
                    background: rgb(255, 255, 255);
                    box-shadow: 0px 4px 4px 7px rgba(221, 221, 221, 0.25);
                    @media screen and (max-width: 767px){
                        box-shadow: 0px 4px 4px 7px rgba(221, 221, 221, 0.10);
                    }
                    .text{
                        color: black;
                        &:before{
                            background: none;
                            background-color: rgba(0, 0, 0, 0);
                            -webkit-mask-size: contain;
                            background-color: #FF663E;
                            mask-size: contain;
                        }
                    }
                    .star{
                        border-bottom: .7em solid #FF663E;
                        border-bottom: .7em solid #FF663E;
                    }
                }
                .text {
                    font-family: $lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: $text;
                    text-align: justify;
                    position: relative;
                    color: $white;
                    &:before{
                        -webkit-mask: url("../../img/guillemet.svg") no-repeat 100% 100%;
                        mask: url("../../img/guillemet.svg") no-repeat 100% 100%;
                        height: 50px;
                        width: 50px;
                        background-color: #3C3B3B;
                        display: inline-block;
                        position: relative;
                        margin-right: 20px;
                        content: '';
                    }
                }
            }
            .ratings-flex{
                margin-top:20px;
                @media screen and (max-width: 991px){
                    flex-direction: column;
                }
                .ratings-star{
                    .star {
                        position: relative;
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: .9em;
                        margin-right: .9em;
                        margin-bottom: 1.2em;
                        border-right: .3em solid transparent;
                        border-bottom: .7em solid #000;
                        border-left: .3em solid transparent;

                        /* Taille des étoiles */
                        font-size: 12px;

                        &:before, &:after {
                            content: '';
                            display: block;
                            width: 0;
                            height: 0;
                            position: absolute;
                            top: .6em;
                            left: -1em;
                            border-right: 1em solid transparent;
                            border-bottom: .7em solid #000;
                            border-left: 1em solid transparent;
                            transform: rotate(-35deg);
                        }

                        &:after {
                            transform: rotate(35deg);
                        }
                    }
                    @media screen and (max-width: 991px){
                        margin-bottom: 10px;
                    }
                }
                .text{
                    text-indent: initial;
                    &:before{
                        display: none;
                    }
                }
            }
        }
        &-img {
            text-align: center;
            height: 170px;
            img{
                position: relative;
                top: -70px;
            }
        }
        &-info{
            align-items: stretch;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            min-height: 300px;
            @media screen and (max-width: 991px){
                min-height: 400px;
            }
        }
    }
}

#blog{
    position: relative;
    z-index: 7;
    background-color: $white;
    padding-top: 5rem;
    .titre__composant{
        @include titres("blog");
    }
    .blog-content{
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        @media (max-width:767px){
            flex-direction: column;
            padding-bottom: 0;
        }
        &-column {
            position: relative;
            width: 49%;
            box-shadow: 0px 0px 7px 3px rgb(0 0 0 / 15%);
            @media (max-width:991px){
                box-shadow: none;
            }
            @media (max-width:767px){
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }
            &_img{
                width: 100%;
                height: auto;
                > img{
                    width: 100%;
                    height: auto;
                }
            }
            &_infos {
                position: absolute;
                bottom: 0;
                background-color: $white;
                width: 100%;
                padding: 10px;
                height: 50px;
                overflow: hidden;
                transition: all 0.3s;
                @media (max-width:991px){
                    height: 100%;
                    background-color: rgb(255 255 255 / 85%);
                }
                @media (max-width:767px){
                    height: 50%;
                }
                @media (max-width:579px){
                    height: 100%;
                }
                .title{
                    font-family: $lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 2.4rem;
                    text-align: center;
                    color: #000000;
                    @media (max-width:991px){
                       font-size: $text;
                    }
                }
                .sub-title{
                    margin-top: 10px;
                    font-family: $lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: $text;
                    @media (max-width:991px){
                        font-size: 14px;
                    }
                    @media (max-width:579px){
                        font-size: 13px;
                    }
                }
                .generic-cta{
                    width: 100%;
                    text-align: right;
                    padding-top: 40px;
                    @media (max-width:991px){
                        position: absolute;
                        bottom: 20px;
                        right: 0;
                    }
                    a{
                        @include cta();
                    }
                }
                &:hover{
                    @media (min-width:991px){
                        height: 210px;
                        bottom: 0;
                    }
                }
            }
        }
    }
}

#contact{
    position: relative;
    z-index: 7;
    background-color: $lightgrey;
    padding: 20px;
    padding-top: 5rem;
    .container{
        .titre__composant{
            @include titres("contact");
        }
        .form{
            display: flex;
            flex-direction: column;
            margin: 4rem auto;
            max-width: 600px;
            input,textarea{
                background: #FFFFFF;
                box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.10);
                height:50px;
                width: 100%;
                margin-bottom: 25px;
                padding: 5px 5px 5px 10px;
                border: none;
                &::placeholder {
                    color: $black;
                }
            }
            textarea{
                height: 150px;
                min-height: 150px;
                max-width: 100%;
                padding: 10px;
                min-width: 100%;
                max-height: 400px;
            }
            button{
                @include cta;
                width: 60%;
                margin: 0 auto;
                @media screen and (max-width: 767px){
                    width: 100%;
                }
            }
            &-info{
                display: flex;
                width: 100%;
                justify-content: space-between;
                @media (max-width: 991px){
                    flex-direction:column;
                }
                input{
                 width: 49%;
                    @media (max-width: 991px){
                        width: 100%;
                    }
                }
            }
        }
    }
}

section{
    padding: 10rem 0!important;
}