*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: $lato;
    scroll-behavior: smooth;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
    position: relative;
}
/* Style pour la barre de scroll */
::-webkit-scrollbar-track {
    position: absolute;
    background-color: transparent;
    width: 10px;

}

::-webkit-scrollbar {
    height: 5px;
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $orange;
    width: 10px;
}

.carousel{
    &::-webkit-scrollbar-track {
        position: absolute;
        background-color: transparent;
        width: 60px!important;
    }
    &::-webkit-scrollbar {
        height: 5px;
        width: 60px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $orange;
        width: 60px;
    }
}