@mixin cta{
    background-color: $orange;
    padding: 1.5rem 2rem;
    color: $white;
    border:none;
    cursor: pointer;
    text-decoration: none;
}
@mixin titres($msgfond,$color : $grey){
    text-align: center;
    margin: 0 auto 5rem;
    position: relative;
    width: fit-content;
    .main-title{
        font-size: $subtitle;
        color: $black;
        z-index: 2;
        position: relative;
    }
    .sub-title{
        font-size: $subtitle-deco;
        color: $orange;
        font-family: $dancing;
        z-index: 2;
        position: relative;
    }
    &:after{
        content: $msgfond;
        position: absolute;
        font-size: $subtitle-background;
        top: 0;
        left: 0;
        left: 50%;
        z-index: 0;
        color: $color;
        opacity: 0.5;
        font-family: $dancing;
        transform: rotate(-6deg) translateY(-48px) translateX(-50%);
    }
}