$orange : #FF663E;
$black : #000000;
$white : #FFFFFF;
$grey : #D6D6D6;
$lightgrey : #F5F5F5;

$lato : Lato;
$dancing : Dancing Script;

$title : 7.7rem;
$subtitle : 3rem;
$subtitle-deco : 2rem;
$subtitle-background: 10rem;
$text : 1.6rem;
